body
{
    background-color: black;
}

#Heading_of_Website
{
    text-align: center;
    color: red;
    background-color: yellow;
}

#Heading_of_Video
{
    text-align: center;
    color: red;
    background-color: yellow;
}

#Edu_Video 
{
    text-align: center;
    color: red;
    background-color: yellow;
}

#Edu_para
{
    color: red;
}

#Ent_Video 
{
    text-align: center;
    color: red;
    background-color: yellow;
}


#Ent_para
{
    color: red;
}

#NewsCurr_Video 
{
    text-align: center;
    color: red;
    background-color: yellow;
}

#NewsCurr_para
{
    color: red;
}

#Heading_of_Audio
{
    text-align: center;
    color: red;
    background-color: yellow;
}

#Music_Audio
{
    text-align: center;
    color: red;
    background-color: yellow;
}

#Music_Para
{
    color: red;
}

#Env_Audio
{
    text-align: center;
    color: red;
    background-color: yellow;
}

#Env_Para
{
    color: red;
}

#Electro_Audio
{
    text-align: center;
    color: red;
    background-color: yellow;
}

#Electro_Para
{
    color: red;
}